{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}
    <header class="home_page_main">
        <h1>Smile Life Wiki</h1>
    </header>
    <main class="home_page_main">
        <div class="home_page_menu">
            <div class="home_page_grid_block">
                <a href="{{path('app_rules') }}">Règles du jeu</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_main_game') }}">Cartes de base</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_fantasy') }}">Cartes extension Fantaisie</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_apocalypse') }}">Cartes extension Apocalypse</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_trash') }}">Cartes extension Trash</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_girl_power') }}">Cartes extension Girl Power</a>
            </div>
        </div>
    </main>
{% endblock %}
