{% extends 'base.html.twig' %}

{% block title %} | Règles{% endblock %}

{% block body %}
    <header class="home_page_main">
        <h1>Smile Life Wiki</h1>
        <h2>Règles du jeu</h2>
    </header>
    <main class="home_page_main">
        <div class="home_page_menu">
            <div class="home_page_grid_block">
                <a href="{{path('app_rules_main_game') }}">Jeu de base</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_rules_fantasy') }}">Extension Fantaisie</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_rules_apocalypse') }}">Extension Apocalypse</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_rules_trash') }}">Extension Trash</a>
            </div>
            <div class="home_page_grid_block">
                <a href="{{ path('app_rules_girl_power') }}">Extension Girl Power</a>
            </div>
        </div>
    </main>
    {{ include('generic_content/_main_page_button.html.twig') }}
{% endblock %}
